@charset "UTF-8";
/*
    0 - 600px:          Phone
    600px - 900px :     Tablet portrait
    900px - 1200px :    Tablet landscape
    1200px - 1600px :   Normal desktop
    1600px - 1800px :   Big desktop 

    $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - normal-desktop
    - big-desktop

    Order: base + typography > general layout > grid > page layout > components
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes checked {
  0% {
    transform: translate(-50%, -50%) scale(0.8); }
  60% {
    transform: translate(-50%, -50%) scale(2); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 68.75%;
  /*     @include respond(phone) {
        font-size: 46.88%; // 1rem = 7.5px
    } */ }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 46.88%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  /* Para que el padding y border no se sume a ancho y alto de las cajas */ }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  /* Arreglar problemas raros que aparecen en las animaciones */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1.5rem;
        font-size: 4.2rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 2px; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem;
      padding: 0 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-huge {
      margin-bottom: 7rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-huge {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 100em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.5rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 100em) {
    .u-margin-top-huge {
      margin-top: 8rem !important; } }
  @media only screen and (max-width: 75em) {
    .u-margin-top-huge {
      margin-top: 6rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 100em) {
    .u-margin-top-big {
      margin-top: 6rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 4rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.z-index--1 {
  z-index: -1; }

.z-index-10 {
  z-index: 10; }

.z-index-20 {
  z-index: 20; }

.z-index-30 {
  z-index: 30; }

.z-index-100 {
  z-index: 100; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 300ms;
  position: relative;
  font-size: 1.6rem;
  border: none; }

.btn:hover, .btn:focus {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after, .btn:focus::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(0rem);
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards;
  /* Se aplica el estado inicial de la animacion al estado animacion del elemento hasta que suceda la animación */ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 8px;
  transition: all .3s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.card {
  perspective: 1000px;
  -moz-perspective: 1000px;
  height: 57rem;
  position: relative; }
  @media only screen and (max-width: 100em) {
    .card {
      height: 52rem; } }
  .card__side {
    font-size: 2rem;
    height: 57rem;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    @media only screen and (max-width: 100em) {
      .card__side {
        height: 52rem; } }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 28rem;
    background-blend-mode: soft-light;
    background-position: bottom;
    backface-visibility: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    @media only screen and (max-width: 100em) {
      .card__picture {
        height: 25rem; } }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 3rem;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    font-weight: 300;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 65%; }
    @media only screen and (max-width: 75em) {
      .card__heading {
        font-size: 2.5rem; } }
  .card__heading-span {
    padding: 1.5rem;
    box-decoration-break: clone;
    word-spacing: 1rem; }
    @media only screen and (max-width: 75em) {
      .card__heading-span {
        padding: 1rem; } }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem;
    padding-top: 1rem; }
    @media only screen and (max-width: 100em) {
      .card__details {
        padding: 0 3rem 3rem 3rem; } }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
        @media only screen and (max-width: 56.25em) {
          .card__details ul li {
            font-size: 1.8rem;
            margin-bottom: 2rem; } }
        @media only screen and (max-width: 37.5em) {
          .card__details ul li {
            margin-bottom: 0.5rem; } }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 10rem; }
  .card__price--only {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem; }
  .card__price--value {
    font-size: 6rem;
    font-weight: 300; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          margin-top: -2rem;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__picture {
        height: 36rem; }
      .card__details {
        padding: 4rem; }
        .card__details ul {
          width: 70%; }
          .card__details ul li {
            font-size: 1.8rem;
            margin-bottom: 2rem; }
      .card__heading {
        font-size: 3rem;
        padding: 1.5rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 5rem 3rem 3rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price--only {
        font-size: inherit;
        letter-spacing: 0.5rem; }
      .card__price--value {
        font-size: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      height: auto; }
      .card__side {
        height: auto; }
      .card__picture {
        height: 30rem; }
      .card__details ul {
        width: 90%; }
        .card__details ul li {
          margin-bottom: 0.5rem; }
      .card__price-box {
        margin-bottom: 1.5rem; } }

.composition {
  position: relative; }
  @media only screen and (max-width: 100em) {
    .composition {
      margin-top: 4rem; } }
  @media only screen and (max-width: 75em) {
    .composition {
      margin-top: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .composition {
      margin-top: 2rem; } }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    transition: all .3s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: 0; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0; } }
    .composition__photo--p2 {
      right: 0;
      top: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 12rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0; } }
    .composition__photo:hover {
      outline: 5px solid #55c57a;
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  @media only screen and (max-width: 100em) {
    .feature-box {
      padding: 1.5rem; } }
  @media only screen and (max-width: 75em) {
    .feature-box {
      padding: 2rem 3rem 5rem 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      font-size: 1.6rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    padding: 2px;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        padding: 1rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__subtitle {
    height: 4rem; }

.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  backface-visibility: hidden;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 46.88rem) {
    .story {
      transform: skewX(0);
      padding: 3rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      padding-left: 5rem; } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
      .story__shape {
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media (max-width: 46.88rem) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg);
    backface-visibility: hidden; }
    @media (max-width: 46.88rem) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all .5s;
    opacity: 0;
    /* backface-visibility: hidden; */ }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .15;
  overflow: hidden;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-bottom: 4px solid transparent;
  width: 90%;
  display: block;
  transition: all .2s; }
  @media only screen and (max-width: 37.5em) {
    .form__input {
      width: 100%;
      background-color: white; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 4px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown ~ .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 48%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 2px solid #55c57a;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
    clip-path: polygon(36% 55%, 83% 17%, 98% 39%, 56% 70%, 30% 89%, 3% 53%, 23% 36%);
    background-color: #55c57a;
    opacity: 0;
    transition: .5s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
  animation: checked .5s ease-out; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  /* &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        @include respond(phone) {
            transform: scale(.8);
        }
    } */ }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .5s .2s;
    /* display: table; */ }
    @media only screen and (max-width: 75em) {
      .popup__content {
        width: 85%;
        height: 55%; } }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        width: 100%;
        height: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        height: 70%;
        flex-direction: column;
        justify-content: center; } }
  .popup__left {
    flex-basis: 34%;
    order: 1;
    /* width: 33%;
        display: table-cell; */ }
    @media only screen and (max-width: 37.5em) {
      .popup__left {
        flex-basis: 0%; } }
  .popup__right {
    padding: 2rem 4rem;
    flex-basis: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
    /* width: 67%;
        display: table-cell; 
        vertical-align: middle; */ }
    @media only screen and (max-width: 37.5em) {
      .popup__right {
        order: 1;
        flex-basis: auto; } }
  .popup__img {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center; }
    .popup__img--1 {
      background-image: url(../img/nat-8.jpg); }
    .popup__img--2 {
      background-image: url(../img/nat-9.jpg); }
  .popup__heading {
    padding: 0 !important;
    text-align: left !important; }
  .popup__text {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 2rem;
    column-rule: 2px solid #eee;
    hyphens: auto; }
    @media only screen and (max-width: 37.5em) {
      .popup__text {
        column-count: 2;
        max-height: 30rem;
        width: 100%;
        overflow: scroll;
        padding-bottom: 1rem;
        margin-bottom: 2.5rem; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    text-decoration: none;
    position: absolute;
    color: #777;
    top: 2.5rem;
    right: 2.5rem;
    line-height: 1;
    font-size: 3rem;
    display: inline-block;
    transition: all .2s; }
  .popup__close:hover {
    color: #55c57a; }

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 6rem;
  /*  &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    
    &:first-child {
        margin-top: $gutter-vertical;
    } */
  /* @include clearfix; */ }
  @media only screen and (max-width: 100em) {
    .row {
      padding: 0 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      padding: 0 15rem; } }
  @media (max-width: 46.88em) {
    .row {
      padding: 0 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      padding: 0 2rem; } }
  @media only screen and (max-width: 18.75em) {
    .row {
      padding: 0 1.5rem; } }
  .row [class^="col-"] {
    padding: 2rem;
    font-size: 1.6rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3.5rem; }
    @media only screen and (max-width: 100em) {
      .row [class^="col-"]:not(:last-child) {
        margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        flex-basis: 100% !important;
        padding: 1rem; }
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    /* width: calc(((100% - 3.5rem) / 2)); */
    flex-basis: 48%; }
  .row .col-1-of-3 {
    /* width: calc((100% - 2 * 3.5rem) / 3); */
    flex-basis: 31%; }
  .row .col-1-of-4 {
    /* width: calc((100% - 3 * 3.5rem) / 4); */
    flex-basis: 22%; }
    @media only screen and (max-width: 75em) {
      .row .col-1-of-4 {
        flex-basis: 48%; } }
  .row .col-2-of-3 {
    /* width: calc(2 * ((100% - 2 * 3.5rem) / 3) + 3.5rem); */
    flex-basis: 60%; }
  .row .col-2-of-4 {
    /* width: calc(2 * ((100% - 3 * 3.5rem) / 4) + 3.5rem); */
    flex-basis: 46%; }
  .row .col-3-of-4 {
    /* width: calc(3 * ((100% - 3 * 3.5rem) / 4) + 2 * 3.5rem); */
    flex-basis: 69%; }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  @supports (clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      /* Esta propiedad sirve para darle formas al contenedor */
      height: 95vh; } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 120em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media only screen and (max-width: 75em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      /* Esta propiedad sirve para darle formas al contenedor */ } }
  @media only screen and (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      /* Esta propiedad sirve para darle formas al contenedor */ } }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      /* Esta propiedad sirve para darle formas al contenedor */ } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 7rem 0; } }
  .footer__row {
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .footer__row {
        padding: 0 1.5rem; } }
  .footer__col-1-of-2 {
    flex-basis: 48%;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .footer__col-1-of-2 {
        flex-basis: 100%; }
        .footer__col-1-of-2:last-of-type {
          margin-top: 5rem; } }
    @media only screen and (max-width: 75em) and (max-width: 56.25em) {
      .footer__col-1-of-2:last-of-type {
        margin-top: 3rem; } }
    @media only screen and (max-width: 75em) and (max-width: 37.5em) {
      .footer__col-1-of-2:last-of-type {
        margin-top: 2rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        width: 20rem; } }
  .footer__navigation {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    display: inline-block;
    text-align: center;
    width: 90%;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
    @media only screen and (max-width: 75em) {
      .footer__item:not(:last-child) {
        margin-right: 1.5rem; } }
  .footer__link:link, .footer__link:visited {
    color: inherit;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2); }
  .footer__copyright {
    color: inherit;
    border-top: 1px solid #eee;
    padding-top: 2rem;
    width: 90%;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center;
        margin-top: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        margin-top: 2rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  overflow: hidden; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(1000%, -50%);
  list-style: none;
  text-align: center;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .5s; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2.5rem; } }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: right;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  z-index: 1500; }

.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  transform: translate(-50%, -50%); }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    /* background-image: linear-gradient(to left bottom, $color-primary, $color-primary-dark); */
    background-color: #55c57a;
    display: inline-block;
    transition: all .2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  background-color: #777;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  background-color: #777;
  transform: rotate(-135deg); }

.section-about {
  margin-top: -20rem;
  padding: 25rem 0;
  padding-bottom: 30rem;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 100em) {
    .section-about {
      padding: 23rem 0;
      padding-bottom: 28rem; } }
  @media only screen and (max-width: 75em) {
    .section-about {
      margin-top: -18rem;
      padding: 22rem 0;
      padding-bottom: 20rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 25rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-about {
      padding: 22rem 0; } }

.section-features {
  padding: 18rem 0;
  z-index: 10;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-5deg); }
  .section-features > * {
    transform: skewY(5deg); }
  @media only screen and (max-width: 75em) {
    .section-features {
      padding: 15rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 15rem  0; } }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      padding: 12rem  0; } }

.section-tours {
  padding: 23rem 0 12rem 0;
  margin-top: -10rem;
  background-color: #f7f7f7;
  z-index: -1; }
  @media only screen and (max-width: 100em) {
    .section-tours {
      padding-top: 20rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-tours {
      padding-top: 18rem;
      padding-bottom: 6rem; } }

.section-stories {
  padding: 12rem 0;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .section-stories {
      padding-top: 6rem;
      padding-bottom: 8rem; } }

.section-book {
  padding: 12rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 37.5em) {
    .section-book {
      padding: 8rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  width: 80%; }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 60%, transparent 60%), url(../img/nat-10.jpg); } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url(../img/nat-10.jpg);
      width: 95%; } }
  @media only screen and (max-width: 37.5em) {
    .book {
      width: 100%; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 60%;
        padding: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%;
        padding: 3rem; } }
