*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Esto defini cuanto vale 1rem
    font-size: 68.75%; // 1rem = 12px   

    @include respond(normal-desktop) { // width <= 1600
        font-size: 62.5%; // 1rem = 10px
        // background-color: red;
    }

    @include respond(tab-land) { // width <= 1200
        font-size: 56.25%; // 1rem = 9px
        // background-color: yellow;
    }

    @include respond(tab-port) { // width <= 900
        font-size: 50%; // 1rem = 8px
    }

    @include respond(phone) {
        font-size: 46.88%;
    }

/*     @include respond(phone) {
        font-size: 46.88%; // 1rem = 7.5px
    } */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
    box-sizing: border-box; /* Para que el padding y border no se sume a ancho y alto de las cajas */

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection { // Cambiar el color cuando se selecciona un texto o parrafo de la página
    background-color: $color-primary;
    color: $color-white;
}
